[Unit]
Description=OpenRGB Dark Controller
After=network.target openrgb.service graphical-session.target
Requires=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=%h/.local/bin/openrgb-dark-controller
Environment="TIMEOUT=30"
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
